header {
    font-family: 'Mate SC', serif;
    color:#03396C;
    background-color:#ABD0EA;
    display: flex;
    padding: 40px;
    gap: 30px;
    border-bottom: 2px solid #03396C;
    font-size: 18px;
    align-items: center;
    text-align: center;
    height: 50px;
}

.logo {
    border: 2px solid #03396C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    padding: 5px;
    background-color: #ECF3F7;
}

body {
    background-color: #ECF3F7;
}

#navbar {
    font-family: 'Mate', serif;
    color: #03396C;
    position: sticky;
    top: 0;
    background-color: #ABD0EA;
    width: 150px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    height: 100vh;
    border-right: 2px solid #03396C;
}

#navbar img {
    width: 45px;
    height: 45px;
}

#navbar h3 {
    margin-top: 10px;
    margin-bottom: 40px;
}