header {
    position: relative;
    font-family: 'Mate SC', serif;
    color: #03396C;
    background-color: #ABD0EA;
    display: flex;
    padding: 40px;
    gap: 30px;
    border-bottom: 2px solid #03396C;
    font-size: 18px;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 1440px;
}

.logo {
    border: 2px solid #03396C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    padding: 5px;
    background-color: #ECF3F7;
}

body {
    background-color: #ECF3F7;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#navbar {
    font-family: 'Mate', serif;
    color: #03396C;
    position: sticky;
    top: 0;
    background-color: #ABD0EA;
    width: 150px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    height: 130vh;
    min-height: 100%;
    border-right: 2px solid #03396C;
}

#navbar img {
    width: 45px;
    height: 45px;
}

#navbar h3 {
    margin-top: 10px;
    margin-bottom: 40px;
}

main {
    font-family: 'Mate', serif;
    color: #03396C;
    display: flex;
    min-height: 100vh;
    flex: 1;
}

.content {
    padding: 40px;
    padding-bottom: 200px;
    position: relative;
}

.content h1 {
    padding-top: 40px;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 2px solid #03396C;
    border-radius: 12px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 25px;
    width: 180px;
    margin-bottom: 20px;
}

.searchBar img {
    height: 25px;
    width: 25px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.categoryBox,
.productBox {
    width: 250px;
    height: 250px;
    padding-top: 10px;
}

.categoryBox img,
.productBox img {
    border: 2px solid #03396C;
    height: 250px;
    width: 250px;
}

.categoryBoxLabel {
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid #03396C;
    border-right: 2px solid #03396C;
    border-bottom: 2px solid #03396C;
    width: 220px;
}

.categoryBoxLabel h3 {
    padding-left: 10px;
}

.chatbot {
    position: absolute;
    margin-top: 20px;
    top: 20px;
    right: -250px;
    text-align: center;
    font-size: 20px;
    width: 180px;
}

footer {
    font-family: 'Mate SC', serif;
    color: #03396C;
    background-color: #ABD0EA;
    display: flex;
    padding: 40px;
    gap: 30px;
    border-top: 2px solid #03396C;
    font-size: 18px;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 1440px;
}

.copyright {
    margin-left: auto;
}

.subheading {
    display: flex;
    align-items: center;
    width: 980px;
    margin-top: -20px;
}

.subheading img {
    margin-left: auto;
    margin-top: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    row-gap: 160px;
}

.productBoxLabel {
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid #03396C;
    border-right: 2px solid #03396C;
    border-bottom: 2px solid #03396C;
    width: 210px;
    height: 120px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.productInfo h4 {
    font-size: larger;
    margin: 0px;
}

.addButton {
    font-size: 25px;
}

.productContent {
    padding-top: 60px;
    padding-left: 90px;
    font-size: 20px;
}

.productContentTop {
    display: flex;
}

.productContentTop img {
    border: 2px solid #03396C;
}

.description {
    display: block;
    padding-left: 50px;
}

.backButton {
    padding-left: 50px;
    padding-top: 40px;
    font-size: 60px;
}

button {
    font-family: 'Mate', serif;
    color: #03396C;
    font-size: 25px;
    border: 2px solid #03396C;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 180px;
    height: 60px;
    text-align: center;
}

.details {
    padding-top: 40px;
    width: 850px;
    line-height: 200%;
}

.title {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 50px;
}

.title span {
    padding-left: 35px;
    margin-bottom: 12px;
}

.title h1 {
    margin-top: -5px;
}

.box {
    position: relative;
    display: block;
    align-items: center;
    border: 2px solid #03396C;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 30px;
    margin-top: 60px;
    padding: 50px;
    width: 1100px;
    height: 700px;
}

.journalInfo {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    accent-color: #03396C;
}

.productImage {
    display: flex;
    border: 2px solid #03396C;
    width: 130px;
    height: 130px;
}

.journalInfoRight {
    display: flex;
    align-items: center;
    gap: 100px;
}

.journalText {
    display: block;
    width: 300px;
}

.quantity {
    display: flex;
}

.quantity h2 {
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid #03396C;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.binImage {
    width: 40px;
    height: 40px;
    padding-right: 70px;
}

.bottom {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.selectAll {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 20px;
    font-size: 24px;
}

hr {
    border: none;
    border-top: 2px solid #03396C;
    padding-bottom: 20px;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.checkoutText {
    text-align: right;
    font-size: 24px;
    line-height: 60%;
}

.penText {
    padding-right: 124px;
}

.paymentBox {
    position: relative;
    display: block;
    align-items: center;
    border: 2px solid #03396C;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 30px;
    margin-top: 60px;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 18px;
    width: 1150px;
    height: 700px;
}

.form form {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 20px;
}

.form label {
    font-size: 24px;
    margin-top: 20px;
}

.form input {
    font-family: 'Mate', serif;
    color: #03396C;
    font-size: 20px;
    margin-top: 10px;
    width: 400px;
    height: 30px;
    border: 1px solid #03396C;
    padding-left: 10px;
}

.form input:focus {
    font-family: 'Mate', serif;
    color: #03396C;
    font-size: 20px;
    outline: none;
    border: 2px solid #03396C;
}

input[type="type"] {
    font-family: 'Mate', serif;
    color: #03396C;
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    height: 40px;
    border: 2px solid #03396C;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

input[type="type"]:focus {
    font-family: 'Mate', serif;
    color: #03396C;
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    height: 40px;
    border: 2px solid #03396C;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    outline: none;
}

.placeOrder {
    padding-top: 70px;
    padding-left: 900px;
}

.confirmBox {
    display: block;
    align-items: center;
    border: 2px solid #03396C;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 30px;
    margin-top: 30px;
    padding: 50px;
    width: 1100px;
    height: 700px;
}

.confirmBox h1 {
    text-align: center;
    font-size: 40px;
}

.endButton {
    font-family: 'Mate', serif;
    color: #03396C;
    font-size: 25px;
    border: 2px solid #03396C;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

.endButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.bag-wrapper {
    position: relative;
    display: inline-block;
}

.bagBadge {
    display: none;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: #E0B3B7;
    color: #03396C;
    border-radius: 50%;
    border: 1px solid #03396C;
    width: 24px;
    height: 24px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

/* mobile responsiveness */

@media (max-width: 700px) {
    header {
        position: relative;
        height: 350px;
        width: 1600px;
    }

    header h1 {
        font-size: 120px;
        margin-left: 50px;
    }

    .logo {
        width: 220px;
        height: 220px;
        padding: 15px;
        margin-left: 60px;
        border: 4px solid #03396C;
    }

    body {
        background-color: #ECF3F7;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #navbar {
        position: sticky;
        top: 0;
        width: 400px;
        text-align: center;
        padding-top: 30px;
        font-size: 20px;
        height: auto;
        border-right: 2px solid #03396C;
        padding-left: 40px;
        padding-right: 40px;
    }

    #navbar img {
        margin-top: 30px;
        width: 100px;
        height: 100px;
    }

    #navbar h3 {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 50px;
    }

    main {
        font-family: 'Mate', serif;
        color: #03396C;
        display: flex;
        min-height: 100vh;
        flex: 1;
    }

    .content {
        padding: 40px;
        padding-bottom: 200px;
    }

    .content h1 {
        font-size: 60px;
        padding-top: 80px;
        margin-left: 30px;
        padding-bottom: 20px;
    }

    .searchBar {
        gap: 25px;
        padding: 20px;
        border-radius: 20px;
        font-size: 45px;
        width: 350px;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .searchBar img {
        height: 45px;
        width: 45px;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        margin-left: 30px;
    }

    .categoryBox,
    .productBox {
        width: 460px;
        height: 520px;
        padding-top: 50px;
    }

    .categoryBox img,
    .productBox img {
        height: 460px;
        width: 460px;
    }

    .categoryBoxLabel {
        margin-top: -5px;
        padding-left: 10px;
        padding-right: 20px;
        width: 430px;
        height: 100px;
        font-size: 30px;
    }

    .categoryBoxLabel h3 {
        padding-left: 20px;
    }

    .chatbot {
        position: absolute;
        top: 65px;
        left: 1000px;
        text-align: center;
        font-size: 20px;
        width: 300px;
    }

    .chatbot img {
        width: 100px;
        height: 100px;
        padding-right: 300px;
    }

    .chatbot h3 {
        display: none;
    }

    footer {
        display: block;
        height: 700px;
        width: 1600px;
    }

    footer p {
        font-size: 60px;
        width: 1500px;
    }

    .subheading {
        display: flex;
        align-items: center;
        width: 1050px;
        margin-top: -20px;
    }

    .subheading img {
        margin-left: auto;
        margin-top: 50px;
        width: 80px;
        height: 80px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        margin-left: 30px;
        gap: 160px;
        row-gap: 160px;
    }

    .productBoxLabel {
        width: 420px;
        height: 160px;
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        margin-top: -20px;
    }
    .productInfo h3 {
        font-size: 30px;
    }

    .productInfo h4 {
        font-size: 30px;
        margin: 0px;
    }

    .addButton {
        font-size: 25px;
        padding-right: 15px;
    }

    .productContent {
        padding-top: 60px;
        padding-left: 90px;
        font-size: 20px;
    }

    .productContentTop {
        display: block;
    }

    .productContentTop img {
        border: 2px solid #03396C;
        margin-top: 150px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 40px;
    }

    .description h3 {
        margin-top: 0;
    }

    .backButton {
        padding-left: 50px;
        padding-top: 40px;
        font-size: 150px;
    }

    .productContentTop img {
        height: 450px;
        width: 450px;
        align-items: center;
        margin-left: 225px;
    }

    button {
        width: 280px;
        height: 100px;
        text-align: center;
        font-size: 40px;
    }

    .details {
        padding-top: 40px;
        width: 850px;
        line-height: 200%;
        font-size: 35px;
        text-align: left;
        padding-bottom: 300px;
    }

    .details h2, .details h3 {
        text-align: left;
    }

    .title {
        display: flex;
        align-items: center;
        height: 150px;
        gap: 50px;
    }

    .title span {
        padding-left: 35px;
        margin-bottom: 12px;
    }

    .title h1 {
        margin-top: 10px;
        font-size: 60px;
    }

    .box {
        margin-left: 40px;
        margin-top: 100px;
        padding: 50px;
        width: 1000px;
        height: 1600px;
    }

    .journalInfo {
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 60px;
        margin-top: 50px;
    }

    input[type="checkbox"] {
        width: 80px;
        height: 80px;
        accent-color: #03396C;
    }

    .productImage {
        display: flex;
        border: 2px solid #03396C;
        width: 270px;
        height: 270px;
        margin-left: 50px;
    }

    .journalInfoRight {
        display: block;
        align-items: right;
        gap: 100px;
    }

    .journalText {
        display: block;
        gap: 30px;
        margin-left: 60px;
        font-size: 30px;
    }

    .quantity {
        display: none;
    }

    .quantity h2 {
        display: flex;
        width: 50px;
        height: 50px;
        border: 2px solid #03396C;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .binImage {
        width: 50px;
        height: 50px;
        padding-right: 20px;
        padding-top: 40px;
    }

    .bottom {
        position: absolute;
        bottom: 50px;
        left: 50px;
        right: 50px;
    }

    .selectAll {
        display: flex;
        gap: 30px;
        align-items: center;
        padding-bottom: 20px;
        font-size: 40px;
    }

    hr {
        border: none;
        border-top: 3px solid #03396C;
        padding-bottom: 20px;
    }

    .checkout {
        display: block;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .checkoutText {
        text-align: center;
        font-size: 40px;
        line-height: 60%;
    }

    .checkout button {
        display: block;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 100px;
        font-size: 40px;
        margin-left: 350px;
    }

    .penText {
        padding-right: 124px;
    }

    .paymentBox {
        margin-left: 30px;
        margin-top: 70px;
        padding-left: 50px;
        padding-top: 20px;
        font-size: 35px;
        width: 1050px;
        height: 1800px;
    }

    .form form {
        display: grid;
        grid-template-columns: repeat(1, 500px);
        gap: 30px;
    }

    .form label {
        font-size: 50px;
        margin-top: 40px;
    }

    .form input {
        font-size: 40px;
        margin-top: 10px;
        width: 950px;
        height: 50px;
        border: 1px solid #03396C;
        padding-left: 10px;
    }

    .form input:focus {
        font-size: 40px;
        outline: none;
        border: 2px solid #03396C;
    }

    input[type="type"] {
        font-family: 'Mate', serif;
        color: #03396C;
        font-size: 20px;
        font-weight: bold;
        width: 500px;
        height: 40px;
        border: 2px solid #03396C;
        background-color: rgba(255, 255, 255, 0.5);
        padding-left: 10px;
    }

    input[type="type"]:focus {
        font-family: 'Mate', serif;
        color: #03396C;
        font-size: 20px;
        font-weight: bold;
        width: 500px;
        height: 40px;
        border: 2px solid #03396C;
        background-color: rgba(255, 255, 255, 0.5);
        padding-left: 10px;
        outline: none;
    }

    .placeOrder {
        padding-top: 110px;
        padding-left: 645px;
    }

    .placeOrder button {
        width: 320px;
        height: 120px;
        font-size: 45px;
    }

    .confirmBox {
        margin-left: 45px;
        margin-top: 150px;
        padding: 50px;
        width: 1000px;
        height: 1700px;
    }

    .confirmBox h1 {
        text-align: center;
        font-size: 80px;
    }

    .endButton {
        width: 380px;
        height: 200px;
        text-align: center;
        margin-top: 150px;
        font-size: 50px;
    }

    .endButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .bag-wrapper {
        position: relative;
        display: inline-block;
    }

    .bagBadge {
        display: none;
        position: absolute;
        bottom: -5px;
        right: -10px;
        background: #E0B3B7;
        color: #03396C;
        border-radius: 50%;
        border: 1px solid #03396C;
        width: 50px;
        height: 50px;
        font-size: 32px;
        justify-content: center;
        align-items: center;
    }
}